
      <div class="row">
        <main class="col-md-12">
          <!-- Start your code here -->
          <h2>Thank you for visiting my website</h2>
          <h4>Introduction about myself</h4>
          <p>
            I am E A R Sangeeth Perera and I am an International Student in
            Seneca College. I am currently pursuing a Postgraduate Certificate
            in Database Application Developer and my student ID is
            <b>178951216</b>
          </p>
          <p>I am from Sri Lanka and currently I lives in Maple, Ontario</p>
        </main>
      </div>
 