<div class="row">
      <div class="row">
        <main class="col-md-12">
          <h1>Welcome to my Website!!</h1>
          <h3>
            I will be demonstrating HTML5 principles and techniques, Routing in
            Express and also site contains information related to front-end and
            back-end technologies.
          </h3>
        </main>
      </div>
      <div class="row">
        <article class="col-md-12">
          <header id="web-site-content"><h3>Web site content</h3></header>
          <p>This site consists of 3 static views and They are</p>
          <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/htmlDemo">Html Demo</a></li>
          </ul>

          <p>And also consists of 5 routes that supply data , including</p>
          <ul>
            <li><a href="/students">All Students </a> (/students)</li>

            <li>
              <a href="/students?course=3">Student By Course</a>
              (e.g: /students?course=3)
            </li>
            <li>
              <a href="/student/2">A Single Student By Student Number </a>
              (e.g : /student/2)
            </li>
            <li><a href="/tas">All TAs </a>(/tas)</li>
            <li><a href="/courses">All Courses </a>(/courses)</li>
          </ul>
        </article>
      </div>
      <div class="row">
        <article class="col-md-12">
          <header id="technologies">
            <h3>Technology Used in the Website</h3>
          </header>
          <p>
            This site utilizes HTML5: a markup language used for structuring and
            presenting content on the World Wide Web.
          </p>
          <p>
            HTML stands for Hypertext Markup Language. It is the most basic
            language, and simple to learn and modify. It is a combination of
            both hypertext and markup language. It contains the elements that
            can change/develop a web page’s look and the displayed contents.
          </p>
          <!-- End your code here  -->
        </article>
      </div>
   </div>