     <div class="row">
        <main class="col-md-12">
          <div>
            <header id="front-end-technologies">
              <h3>Programming Languages/Technologies(Table Section)</h3>
            </header>
            <table class="table" style="">
              <caption>
                Front End Technologies
              </caption>
              <thead>
                <tr>
                  <th>Frameworks</th>
                  <th>Program Language</th>
                  <th>Documentation</th>
                  <th>Platform</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>ReactJs</td>
                  <td>Javascript/Typescript</td>
                  <td>
                    <a
                      href="https://reactjs.org/docs/getting-started.html"
                      target="_blank"
                    >
                      React Doc</a
                    >
                  </td>
                  <td>Cross Platform</td>
                </tr>
                <tr>
                  <td>Angular</td>
                  <td>Typescript</td>
                  <td>
                    <a
                      href="https://angular.io/guide/architecture"
                      target="_blank"
                    >
                      Angular Doc</a
                    >
                  </td>
                  <td>Cross Platform</td>
                </tr>
                <tr>
                  <td>Flutter</td>
                  <td>Dart</td>
                  <td>
                    <a href="https://docs.flutter.dev/" target="_blank">
                      Flutter Doc</a
                    >
                  </td>
                  <td>Cross Platform</td>
                </tr>
                <tr>
                  <td colspan="4">All of these are modern Web technologies</td>
                </tr>
              </tbody>
            </table>

            <table class="table">
              <caption>
                Back End Frameworks
              </caption>
              <thead>
                <tr>
                  <th>Frameworks</th>
                  <th>Program Language</th>
                  <th>Documentation</th>
                  <th>Icon</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Spring Boot</td>
                  <td>Java</td>
                  <td>
                    <a
                      href="https://docs.oracle.com/javase/8/docs/technotes/tools/windows/javadoc.html"
                      target="_blank"
                    >
                      Java Doc</a
                    >
                  </td>
                  <td>
                    <img
                      src="./images/java.jpg"
                      width="100"
                      height="100"
                      alt="java"
                    />
                  </td>
                </tr>
                <tr>
                  <td>Nodejs</td>
                  <td>Javascript</td>
                  <td>
                    <a href="https://nodejs.org/en/docs/" target="_blank">
                      Node Doc</a
                    >
                  </td>
                  <td>
                    <img
                      src="./images/node.png"
                      width="100"
                      height="100"
                      alt="node"
                    />
                  </td>
                </tr>
                <tr>
                  <td>Express</td>
                  <td>Javascript/Typescript</td>
                  <td>
                    <a href="http://expressjs.com/" target="_blank">
                      Express Doc</a
                    >
                  </td>
                  <td>
                    <img
                      src="./images/express.jpg"
                      width="100"
                      height="100"
                      alt="express"
                    />
                  </td>
                </tr>
                <tr>
                  <td colspan="4">
                    All of these are modern Backend technologies
                  </td>
                </tr>
              </tbody>
            </table>
            <p>
              The above 2 tables contains information regarding front-end and
              backend technologies. And also relevant documentation links and
              their primary programming language also included.
            </p>
            <!-- End your code here  -->
          </div>

          <hr />
          <div>
            <!-- Start your code here -->
            <header id="backend-technologies">
              <h3>List of Backend Technologies</h3>
            </header>
            <ul>
              <li>
                Java
                <ol>
                  <li>SpringBoot</li>
                  <li>Spring</li>
                  <li>Servelet</li>
                  <li>Micro-Services</li>
                </ol>
              </li>
              <li>C# (.Net)</li>
              <li>NodeJs</li>
              <li>Go</li>
              <li>Python</li>
              <li>Pl/SQL</li>
              <li>Ruby</li>
            </ul>
            <p>
              All of the above mentioned technologies are using for backend
              development and these technologies are the most demanding in the
              Industry.
            </p>
          </div>
          <hr />
          <div>
            <header id="images">
              <h3>Icons of Programming Languages/Technologies</h3>
            </header>

            <div>
              <img
                src="./images/java.jpg"
                width="100"
                height="100"
                alt="java"
              />
              <img
                src="./images/node.png"
                width="100"
                height="100"
                alt="node"
              />
              <img
                src="./images/express.jpg"
                width="100"
                height="100"
                alt="express"
              />
              <img
                src="./images/python.png"
                width="100"
                height="100"
                alt="python"
              />
              <img src="./images/net.png" width="100" height="100" alt="net" />
            </div>
            <p>
              All of the above shown images are the icons of popular
              Frameworks/technologies in the IT industry.
            </p>
          </div>
          <hr />
          <div>
            <header id="audio-section">
              <h3>Audio Player</h3>
            </header>
            <audio controls>
              <source
                src="https://pat-crawford-sdds.netlify.app/shared/winter-2023/web700/A3/sample-audio.ogg"
                type="audio/ogg"
              />
              <source
                src="https://pat-crawford-sdds.netlify.app/shared/winter-2023/web700/A3/sample-audio.mp3"
                type="audio/mpeg"
              />
              Your browser does not support the audio tag.
            </audio>
            <p>
              Above audio clip could be used for background music of a video.
            </p>
          </div>
          <hr />
          <div>
            <!-- Start your code here -->
            <header id="video-section">
              <h3>Video Player</h3>
            </header>
            <video width="320" height="240" controls>
              <source
                src="https://pat-crawford-sdds.netlify.app/shared/winter-2023/web700/A3/sample-video.mp4"
                type="video/mp4"
              />
              <source
                src="https://pat-crawford-sdds.netlify.app/shared/winter-2023/web700/A3/sample-video.ogg"
                type="video/ogg"
              />
              <source
                src="https://pat-crawford-sdds.netlify.app/shared/winter-2023/web700/A3/sample-video.webm"
                type="video/webm"
              />
              Your browser does not support the video tag.
            </video>
            <p>
              Above video clip shows how earth is rotating around the orbit.
            </p>
          </div>
        </main>
      </div>

   